@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

.inner {
  max-width: 1170px;
  margin: auto;
}

/* 상단 영역 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
}
.hd-member {
  height: 30px;
  text-align: right;
  position: relative;
}
.hd-member ul {
  width: 194px;
}
.hd-member ul li a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 9px 14px;
  display: inline-block;
  text-align: center;
}
.hd-member ul li:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 1px;
  height: 10px;
  background-color: #dddcdc;
  margin: 1px 0 0 0;
}
.hd-member ul li:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 1px;
  height: 10px;
  background-color: #dddcdc;
  margin: 1px 0 0 0;
}
.hd-member ul li.sns_insta a {
  padding: 9px 7px 9px 14px;
}
.hd-member ul li.sns_insta a::before {
  content: "";
  display: inline-block;
  background: url(../img/icon_sns_01.png) no-repeat -28px;
  background-size: 56px 14px;
  width: 14px;
  height: 14px;
}
.hd-member ul li.sns_face a {
  padding: 9px 0;
}
.hd-member ul li.sns_face a::before {
  content: "";
  display: inline-block;
  background: url(../img/icon_sns_01.png) no-repeat right;
  background-size: 56px 14px;
  width: 14px;
  height: 14px;
}
.hd-member ul li .blind {
  position: absolute;
  text-indent: -9999px;
}

.nav-wrap {
  height: 90px;
  background-color: #fff;
  position: relative;
}
.nav-wrap h1 {
  position: absolute;
  text-indent: -9999px;
}
.nav-wrap h1 a {
  background: url(../img/h1_logo.png) no-repeat;
  width: 109px;
  height: 46px;
  position: absolute;
  top: 22px;
  left: 30px;
}
.nav-wrap .gnb {
  display: flex;
  margin-left: 337px;
}
.nav-wrap .gnb li {
  padding: 36px 30px 0 30px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.1px;
  position: relative;
}
.nav-wrap .gnb li ul {
  /* position: absolute; */
  /* width: 100%; */
  display: none;
}
/* 컨텐츠 영역 */
.main-banner {
  height: 650px;
  background: url(../img/fe95cfdc1a1d431981855f60bacddfe820220729024142.jpg) 50% no-repeat;
}
.main-cont1 {
  height: 524px;
  margin-top: 60px;
}
.main-cont1_1 {
  background: #eeecec url(../img/main_img_01.jpg) no-repeat;
  background-size: 100%;
  width: 570px;
  height: 518px;
  border-bottom: 6px solid #373737;
  position: relative;
}
.main-cont1_2 {
  background: #eeecec url(../img/main_img_02.jpg) no-repeat;
  background-size: 100%;
  width: 570px;
  height: 518px;
  border-bottom: 6px solid #373737;
  position: relative;
}
.main-cont2 {
  height: 440px;
  background: #eeecec;
}
.main-cont3 {
  height: 600px;
  background: url(../img/main_visual_02.jpg) 50% no-repeat;
}
.main-cont4 {
  height: 450px;
  background-color: #eeecec;
}
.main-cont-wrap a.link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  opacity: 0;
  z-index: 5;
}
.more-cont-wrap {
  height: 350px;
  background-color: #999;
}
/* 하단 영역 */
#footer {
  height: 310px;
  background-color: #f2c000;
}